.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 50%;
}
#img-logo{
    width: 10%;

}

.links{
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
}
li{
    padding: 10% 10px;
}
button{
    background-color: rgb(98, 191, 220);
    color: rgb(0, 0, 0);
    border: 1px solid red;
    border-radius: 10px;
    padding: 10px 10px;
}

.content{
    display: flex;
    padding: 10px 10px;
}
#me{
    width: 250px;
    border: 5px dotted rgb(14, 34, 164) ;
    border-radius: 6px;
}
.text{
    padding: 0 25px;
}

    